#leadin {
    background-color: white;
    -webkit-transition: background 2s;
    transition: background 2s;
    animation-delay: 500s;


    display: block;
    position: sticky;
    top: 53px;

    padding-top: calc(1em + 1px);
}

p.isSticky {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: greenyellow;
    z-index: 999;
}

#adbox {
    width: 90%;
    height: 400px;
}